[Unit]
Description=Setup SALT minion ID
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target
Before=salt-minion.service
ConditionPathExists=/etc/machine-id
ConditionPathExists=/etc/salt/minion.d
ConditionPathExists=!/etc/salt/minion.d/minion_id.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/bin/sh -c "echo -n 'id: ' > /etc/salt/minion.d/minion_id.conf; cat /etc/machine-id >> /etc/salt/minion.d/minion_id.conf"

[Install]
WantedBy=multi-user.target

